<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bnt.bntshine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> 

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16"
        tools:ignore="OldTargetApi" />

    <application
        android:name="com.bnt.bntshine.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bnt.bntshine.activities.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.NetworkSettingsActivity"
            android:label="@string/title_activity_network_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.GlobalOffSettingsActivity"
            android:label="@string/title_activity_global_off_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.NamesSettingsActivity"
            android:label="@string/title_activity_names_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.DeviceListActivity"
            android:label="@string/title_activity_device_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.CustomNamesActivity"
            android:label="@string/title_activity_custom_names"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.CalcActivity"
            android:label="@string/title_activity_calc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bnt.bntshine.activities.FileBrowserActivity"
            android:label="@string/title_activity_file_browser" >
        </activity>
    </application>

</manifest>
